body{
  justify-content: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #0288a0;
  color: white;
}

h1{
  margin: 0.5cm;
  padding: 1rem;
  background-color: #0f6a7a;
  text-align: center;
}

.task-frame{
  background-color: #127181 ;
  padding: 10px;
  margin: 0.5cm;
}
.tasks{
  display: flex;
  font-size: 20px;
  margin-top: 0px;
  margin: 0.5cm;
  gap: 10px;
}

.task{
  
  padding-left: 20px;
  width: 100%;
  background-color: #0288a0;
  border-radius: 10px;
}

li{
  list-style-type: none;
}

footer{
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: rgb(32, 31, 31);;
  text-align: center;
}

.Link-Container{
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

.Links{
  gap: 50px;
  display: flex;
 justify-content: center;
  padding: 10px;
}

.footer-img{
  height: 50px;
  width: 50px;
}

.Counter{
  display: flex;
  justify-content: space-evenly;
  background-color: #0f6a7a;
}

.Counter-son{
  color: rgb(38, 36, 36);
  background-color: #7cc7d4;
  padding: 10px;
  margin: 0.5cm;
  border-radius: 10px;
  width: 20%;
  text-align: center;
}

button{
  font-size: 1rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(172, 226, 230);
  color: aliceblue;

}


form {
  display: flex;
  background: #128192;
  border-radius: 0.5rem;
  width: 100%;
}

.input {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ForCon{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 gap: 10px ;
}
.ForTsk{
  margin: 5px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #168ca1;
  border-radius: 10px;

}


input{
 
  background-color: #168ca1;
  border-radius: 10px;
  border-color: #0f6a7a;
  padding: 20px;
  width: 100%;
}

::placeholder{
  text-align: left;
  color: white;
}

.BtImg{
  width: 1cm;
  height: 1cm;
}
.tskbtn{
  
 max-width: 2cm;
}



ul{
  margin: 0;
  padding: 0;
}

@media  (max-width: "500px") {
 body{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
}


button:hover{
  background-color: rgb(110, 202, 207);
}