

body{
  justify-content: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #004C64;
  color: white;
}


h1{
  margin: 0.5cm;
  padding: 1rem;
  background-color: #01728b;
  text-align: center;
  border-radius: 10px;
}


.task-frame{
  
  background-color: #0283a0;
  padding: 10px;
  margin: 0.5cm;
  border-radius: 10px;
}


.tasks{
  
  display: flex;
  font-size: 20px;
  margin-top: 0px;
  margin: 0.5cm;
  gap: 10px;
  border-radius: 10px;
}


.task{
  
  width: 100%;
  background-color: #01728b;
  border-radius: 10px;
}


li{
  list-style-type: none;
}


footer{
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: rgb(32, 31, 31);;
  text-align: center;
}


.Link-Container{
  display: flex;
  justify-content: center;
  margin-left: 0px;
}


.Links{
  gap: 50px;
  display: flex;
 justify-content: center;
  padding: 10px;
}


.footer-img{
  height: 50px;
  width: 50px;
}


.Counter{
  margin: 0.5cm;
 
  display: flex;
  justify-content: space-evenly;
  background-color: #01728b;
  border-radius: 10px;
}


.Counter-son{
  color: rgb(34, 33, 33);
  background-color: #11a8ca;
  padding: 10px;
  margin: 0.5cm;
  border-radius: 10px;
  width: 20%;
  text-align: center;
}


button{
  font-size: 1rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #0291b1;
  color: aliceblue;

}


form {
  display: flex;
  background: #128192;
  border-radius: 0.5rem;
  width: 100%;
}


.input {
  display: flex;
  justify-content: center;
  width: 100%;
}


.ForCon{
  margin: 0.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97.2%;
  gap: 10px ;
}


.ForTsk{
  margin: 5px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07a9cd;
  border-radius: 10px;

}


input{
  border-style: none;
  background-color: #01728b;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

::placeholder{
  text-align: left;
  color: white;
}


.BtImg{
  width: 1cm;
  height: 1cm;
}


.tskbtn{
  
 max-width: 2cm;
}


ul{
  margin: 0;
  padding: 0;
}


@media  (max-width: "500px") {
 body{
  display: flex;
  justify-content: center;
  flex-direction: column;

}


}

button:hover{
  background-color: #037c9d;
}

.ForTsk button:hover{
  background-color: #09bddd;
}